#todo-error {
  color: red;
  font-size: 2em;
}
/* NOTE quote */
.quoteStyle {
  color: rgb(255, 255, 255);
  text-align: center;
  position: fixed;
  bottom: 1px;
  text-shadow: 0px 0px 1.5rem black;
}

.bg-image {
  background-size: fill;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* .rowFlex {
  display: flex !important;
  justify-content: space-between;
} */

/* NOTE weather style */
.weatherStyle {
  position: fixed;
  right: 1rem;
  color: white;
  background-color: rgba(51, 51, 51, 0.377);
  padding: 1px !important;
}

/* NOTE todo styling */
.todoBody {
  left: 1.5rem;
  top: 1rem;
  color: white;
  font-family: Lato, sans-serif;
  /* text-shadow: 1px 2px 1.5rem black; */
}
.todocontainer {
  /* text-shadow: 1px 2px 1.5rem black; */
  background-color: rgba(51, 51, 51, 0.377);
  border-radius: 0.3rem;
}
ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
}
li,
h3 {
  clear: both;
  list-style: none;
}
input,
button {
  outline: none;
}
button {
  /* text-shadow: 1px 2px 1.5rem black; */
  background: none;
  border: 0px;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: green;
}
/* Heading */
h3,
label[for="new-task"] {
  color: white;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 0px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
input[type="text"] {
  margin: auto;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}
form {
  margin: auto;
}

/* New Task */
label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}
input#new-task {
  width: 20rem;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}
li > input[type="text"] {
  width: 226px;
}
li > .delete:hover {
  color: #cf2323;
}

.addBtn {
  color: white;
  border: 0px;
  background: none;
  text-align: center;
  /* width: 10px;
  margin: auto; */
}
